*{
	padding: 0;
	margin: 0;
}
/*initialization*/


/*start of first page*/
.first{
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	align-items: center;	
	justify-content: center;
	display: flex;
	height: 100vh;
	text-align: center;
}	
.first > div > *{
	margin: 2px;
}
.first div h1{
font-family: 'Orbitron', sans-serif;
font-size: 60px;
font-weight: 20px;
color: gold;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.first > div > .btn{
	color: white;
	background-color: green;
	border-color: darkblue;
	border-radius: 10px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 4px 5px 4px 5px;
	letter-spacing: 4px;
}
/*end of first page*/

/*start of second page*/
.navbar{
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: silver;
	width: 100%;
	height: 50px;

}
.pages{
	display: flex;
	justify-content: right;
	list-style-type: none;
	margin-left: 50%;
	font-weight: bold;
	font-size: 30px;
}
.pages a{
	margin: 15px;
	color: black;
	text-decoration: none;
	border-radius: 10px;
	padding: 3px;
}
.pages a:hover{
	background-color: white;

}
.second{
	background: black;
	background-size: cover;
	background-position: center;
	align-items: center;	
	justify-content: center;
	display: flex;
	height: 100vh;
	font-family: 'Patua One', cursive;
	font-weight: bold;
}	
}	
.second div .left p{
	color: black;
}
.second > div{
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	width: 50%;
}
.second .left:hover{
	/*font-family: 'Bevan', cursive;*/
	font-size: 15px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background: url(../images/2leftbg.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	letter-spacing: 3px;
}
.second div span{
	color: white;
	font-size: 50px;
}
.second div span:hover{
	text-shadow: 2px 2px 10px yellow;
}
.second .right:hover{
	font-size: 15px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-image: url(../images/2rightbg.gif);
	background-position: center;
	background-size: 100% 100%;
	color: gold;
	background-repeat: no-repeat;
	letter-spacing: 4px;
}
/*End of second page*/


/*start of third page*/
.third{
	background: url(../images/bg3.jpeg);
	background-size: 100% 100%;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.third div img{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border-color: black;
}
.third div h3{
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 2px;
	color: yellow;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
/*End of third page*/

/*start of fourth page*/
.fourth{
	background-image: url(../images/bg4.jpeg);
	background-size: 100% 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fourth div{
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}
.fourth div h2{
	margin: 150px 0 40px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.images ul{
	display: flex;
	list-style-type: none;
}
li img{
	height: 350px;
	width: 225px;
	margin-right: 20px;
	transition: 1s;
	border-radius: 3%;
}
li img:hover{
	transform: scale(1.15, 1.15);
}
/*End of fourth page*/

/*Start of fifth page*/
.fifth{
	background-image: url(../images/call.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: green;
	letter-spacing: 3px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 60px;
}	
.fifth > div{
	width: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fifth > .right > div{
	display: flex;
}

div form{
	width: 100%;
	background-color: silver;
	border-radius: 20px;
	border-color: black;
}
input {
	display: block;
	border: 1px solid brown;
	margin: 20px;
	height: 40px;
	width: 400px;
	border-radius: 10px;
	text-align: center;
	letter-spacing: 5px;
	border-color: black;
}
form .btn{
	padding: 5px;
	font-size: 20px;
	border-radius: 10px;
	border-color: black;
	color: black;
	background-color: silver;
	font-family: 'Orbitron', sans-serif;
}
.fifth > .left{
	text-shadow: 2px 2px 10px yellow;
}
/*End of fifth page*/
